<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingdong.learning.attachment.infrastructure.persistence.AttachmentRuleExtensionMapper">
 <insert id="insert">INSERT INTO sys_attachment_rule_extension(id,rule_id,extension) VALUES(#{id},#{ruleId},#{extension})</insert>
 <select id="findExtensionsByRuleId" resultType="java.lang.String">SELECT extension FROM sys_attachment_rule_extension WHERE rule_id=#{ruleId} ORDER BY extension</select>
</mapper>
