<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.lingdong.learning.datascope.infrastructure.persistence.OrganizationAdminMapper"><select id="findOrganizationIds" resultType="long">SELECT organization_id FROM sys_organization_admin WHERE user_id=#{userId}</select><select id="exists" resultType="boolean">SELECT EXISTS(SELECT 1 FROM sys_organization_admin WHERE user_id=#{userId} AND organization_id=#{organizationId})</select><insert id="insert">INSERT INTO sys_organization_admin(id,organization_id,user_id) VALUES(#{id},#{organizationId},#{userId})</insert></mapper>
