<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.lingdong.learning.permission.infrastructure.persistence.UserPermissionMapper"><select id="findEffect" resultType="com.lingdong.learning.permission.domain.PermissionEffect">SELECT effect FROM sys_user_permission WHERE user_id=#{userId} AND permission_id=#{permissionId}</select><insert id="insert">INSERT INTO sys_user_permission(user_id,permission_id,effect) VALUES(#{userId},#{permissionId},#{effect})</insert><update id="update">UPDATE sys_user_permission SET effect=#{effect},updated_at=CURRENT_TIMESTAMP WHERE user_id=#{userId} AND permission_id=#{permissionId}</update></mapper>
